// Color
$c-black: #222222;
$c-white: #fff;

// FontSize (đã đặt mặc định fontsize = 62.5% => 1rem = 10px)
// https://evondev.com/nen-su-dung-don-vi-em-hay-rem/ (Bài viết tham khảo)
$fs-1: 1rem; // 16px
$fs-2: 2rem; // 32px
