// Color
$c-black: #222222;
$c-white: #fff;
$c-grey: #949494;
$c-red: #fb4226;

// FontSize (đã đặt mặc định fontsize = 62.5% => 1rem = 10px)
// https://evondev.com/nen-su-dung-don-vi-em-hay-rem/ (Bài viết tham khảo)
$fs-10: 1rem;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-22: 2.2rem;
$fs-24: 2.4rem;
$fs-26: 2.6rem;
$fs-28: 2.8rem;
$fs-30: 3rem;
$fs-34: 3.4rem;
$fs-36: 3.6rem;
$fs-40: 4rem;
$fs-60: 6rem;
$fs-80: 8rem;

// Spacing

/* baseWidth */
$baseWidth: 1280px;

/* Font-size */
$fs-10: 1rem;
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-20: 2rem;
$fs-22: 2.2rem;
$fs-24: 2.4rem;
$fs-26: 2.6rem;
$fs-28: 2.8rem;
$fs-30: 3rem;
$fs-34: 3.4rem;
$fs-36: 3.6rem;
$fs-40: 4rem;
$fs-60: 6rem;

/* Common distance. Only use for section */
$d-1: 1rem;
$d-2: 2rem;
$d-3: 3rem;
$d-4: 4rem;
$d-5: 5rem;
$d-6: 6rem;

/* Color */
$orange-1: #ff6b00;
$orange-2: #e98035;
$orange-3: #fbc358;
$orange-4: #fffffe;
$orange-5: #ff9500d9;
$orange-6: #fff7f3e0;
$orange-7: #fff8ec;
$orange-8: #ffb21b;

$red: #ff4949;
$green: #2da753;
$yellow: #edc017;
$blue: #0f67ff;
$purple: rebeccapurple;

$light: #f3f3f3;
$white: #fff;
$light-30: rgba(243, 243, 243, 0.3);

$gray-1: #535353;
$gray-2: #595959;
$gray-3: #9a9a9a;
$gray-4: #b8b8b8;
$gray-5: #313131;
$gray-70: rgba(218, 218, 218, 0.6);

$dark: #242424;
$dark-2: #121212;
$dark-30: rgba(0, 0, 0, 0.3);
$dark-60: rgba(0, 0, 0, 0.6);

/* Font */
$main-font-regular: nunito-regular;
$main-font-semibold: nunito-semibold;
$main-font-bold: nunito-bold;
$second-font-semibold: rosario-semibold;
$second-font-bold: rosario-bold;
$third-font: anton;
$fourth-font: robotoslab-black;
